<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :attendance_status %>
    <%= form.select :attendance_status, ['出勤', '休み', '遅刻', '早退', '欠勤'] %>
  </div>

  <div class="field">
    <%= form.label :shift_status %>
    <%= form.select :shift_status, ['予定通り', 'シフト変更', '休暇'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
